#body
{
	background-color: darkorange;
}
#submit_button
{
	background-color: deepskyblue;
}
#rows
{
	background-color: darkorange;
}
#h3
{
	background-color: darkorange;
}
#show
{
	background-color: forestgreen;
}
#sort_button
{
	background-color: indigo;
	color: white;
}
#srch
{
	color: white;
	background-color: darkred;
}